<div class="container">
  <div class="row">
    <div class="status">
      <h4>
        <%= @warranty.rma_no %> - Remote: <%= @warranty.remote %>, Stand: <%= @warranty.stand %>, Damage: <%= @warranty.damage %>, Box Type: <%= @warranty.box_type %>
      </h4>
    </div>
    <div class="photos">
      <% @warranty.images.each do |image| %>
      <%= cl_image_tag image.image, height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>
    <%= link_to "Edit", edit_warranty_return_path(@warranty), class: "btn btn-warning" %>
  </div>
</div>
